@model List<a.Models.UserInfo>
 
<head>
    <title>@ViewData["Title"] - a</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/task9.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/a.styles.css" asp-append-version="true" />
</head>
 
@{
    ViewData["Title"] = "Task 9 Detail";
}

@foreach (var user in Model)
{
    <div class="user-details-container">
        <div class="user-details-card">
            <h2>Vitaj, @user.Name</h2>
            <div class="user-info">
                <div class="info-row">
                    <label>Name:</label>
                    <span>@user.Name</span>
                </div>
                <div class="info-row">
                    <label>Surname:</label>
                    <span>@user.Surname</span>
                </div>
                <div class="info-row">
                    <label>Email:</label>
                    <span>@user.Email</span>
                </div>
                <div class="info-row">
                    <label>Age:</label>
                    <span>@user.Age</span>
                </div>
            </div>
        </div>
    </div>
}

